<div class="align">
    <div class="align-title">
        <div class="align-title spacing1">
            <img class="spacing-img" src="../../assets/dropLigth.svg">
            <p>Consumo</p>
        </div>
        <div class="align-title spacing2">
            <img class="spacing-img" src="../../assets/dropBlack.svg">
            <p>Possível Fraude</p>
        </div>
    </div>
    <div class="align-subtitle">
        <div class="spacing1">
            <span class="percentage1">↑ 10%</span>
            <span class="waterConsumption">127</span>
            <span class="description">Mil/m³ de água</span>
        </div>
        <div class="spacing2">
            <span class="percentage2">↓ 5%</span>
            <span class="waterConsumption">80</span>
            <span class="description">Mil/m³ de água</span>
        </div>
    </div>
</div>