<div class="align">
    <div class="align-title">
        <div class="align-title spacing1">
            <img class="spacing-img" src="../../assets/coinLigth.svg">
            <p>Faturamento</p>
        </div>
        <div class="align-title spacing2">
            <img class="spacing-img" src="../../assets/coinBlack.svg">
            <p>Possível Fraude</p>
        </div>
    </div>
    <div class="align-subtitle">
        <div class="spacing1">
            <span class="percentage1">↑ 40%</span>
            <span class="waterConsumption">300</span>
            <span class="description">mil reais</span>
        </div>
        <div class="spacing2">
            <span class="percentage2">↓ 30%</span>
            <span class="waterConsumption">170</span>
            <span class="description">mil reais</span>
        </div>
    </div>
</div>
